$primary-color: #444;
$secondary-color: #eece;
$show-home-image: true;

body {
  background: $primary-color;
  color: rgb(134, 28, 28);
  height: 50%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
