@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: rgb(247, 240, 240);
  height: 50%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// otsikot
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: rgb(247, 241, 241);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: rgb(32, 50, 218);
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  // Me sivun asettelu
  display: grid;
  grid-gap: 90px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 100%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  grid-area: job1;
}

.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}

.job {
  background: ($primary-color);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
  border-top: $secondary-color 5px solid;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 90px;
}

@import "mobile";

.work-info {
  // work sivun asettelua

  display: table-row-group;
  grid-gap: 90px;
  grid-template-areas:
    "PROJECTS"
    "work1 work2 work3";
  grid-template-columns: repeat(3, 1fr);
}

.PROJECTS {
  grid-area: projects;
  font-size: 1.5rem;
}

.work-1 {
  grid-area: work1;
}

.work-2 {
  grid-area: work2;
}
.work-3 {
  grid-area: work3;
}

.work {
  background: rgba($primary-color, 0.9);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
  border-top: $secondary-color 5px solid;
  // border-left: $secondary-color 5px solid;
  //border-right: $secondary-color 5px solid;
}

#main-footer {
  //selvitä mitä tekee
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 10px;
}

// contact sivu

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
@import "mobile";
