// Valikko nappula
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: rgb(238, 234, 234);
    @include easeOut;
  }

  &.close {
    transform: rotate(
      180deg
    ); // valikko nappula oikeella ylhäällä --> voidaan muokata sen ominaisuuksia

    .btn-line {
      // line 1 - rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // line 2 - hide
      &:nth-child(2) {
        opacity: 0;
      }
      // line 3 - rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// menu overlay

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  // opacity: 0.9; jos päällä niin muotokuvasta näkyy tekstit läpi
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 1);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding side
  &-branding {
    background: rgba(#e09c42, 0.9);
    transform: translate3d(
      0,
      100%,
      0
    ); // kuinka paljon oma kuva näkyy vasemmalla
    @include easeOut;

    &.show {
      // slide in from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 70%;
      height: 80%; // kuvan kooko
      background: url(emppu1.jpg);
      background-size: cover; // asettaa kuvan oikeaan kohtaan
      border-radius: 0%; // minkä muotoinen kuva on
      border: solid 3px darken($primary-color, 5);
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // slide in from rigt
      transform: translate3d(0, -0, 0);
    }

    &.current > a {
      // ominaisuus jolla saadaan otsikoiden väriä vaihtamaan --> linkittyy alempana olevaan hoveriin
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 35px;
    text-transform: capitalize;
    padding: 1rem 0;
    font-weight: 300;
    color: #fdf9f4;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;

    @include easeOut;

    &:hover {
      color: $secondary-color; // pikkuotsitko saadaan muuttamaan väriä, kun hiiri osuu niihin --> tehtiin muutos indexiin (rivi28: lisättiin current)
    }
  }

  // delay each nav item slide by 0.1s
  @for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }
}
